<!-- -*- mode: XML -*- -->

<launch>
    <include file="$(find project_setup)/launch/project_setup.launch" />

    <node pkg="pfms_path_following" type="pfms_path_following-velocity_control" name="pfms_path_following" />
    <node pkg="a3_12977866" type="a3_12977866_ex" name="a3_12977866" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project_setup)/rviz/pfms.rviz" />
</launch>
